.container {
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;

  :global {
    .controller {
      margin-right: 10px;
    }

    .controller-tips {
      margin-left: 10px;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
    }

    .item-content {
      width: 50%;
      margin: 0 10px;
    }

    .item-tips {
      margin-right: 10px;
      width: 20%;
    }
  }
}
